* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: Geometric;
  src: url("~/assets/fonts/Geometric.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("~/assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: Jost;
  src: url("~/assets/fonts/Jost.ttf");
}

@font-face {
  font-family: Rubik;
  src: url("~/assets/fonts/Rubik.ttf");
}

@font-face {
  font-family: Lato;
  src: url("~/assets/fonts/Lato.ttf");
}

body {
  height: 100vh;
}

.d-container {
  max-width: 892px;
  width: 100%;
  margin-top: 24px;
  padding: 24px;
  border-radius: 12px;
  background: #FFF;

  &._big {
    max-width: 1200px;
  }
}

.text {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 24px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;

  &._short {
    padding-right: 79px;
  }

  &._main {
    margin-top: 12px;
  }
}

@media (max-width: 1024px) {
  .d-container {
    padding: 0;
  }
  .text {
    font-size: 13px;
    line-height: 20px;

    &._short {
      padding-right: 0;
    }

    &._main {
      margin-top: 0;
    }
  }
}

.v-dialog {
  border-radius: 0 !important;
}

.v-dialog__content {
  top: 63px !important;
  align-items: flex-start !important;
}

.v-application p {
  margin-bottom: 0 !important;
}

.v-application .title {
  font-size: inherit !important;
}
